* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4.h5,
h6,
p,
hr {
    margin: 0;
}

section {
    display: none;
}

.side {
    background-color: #c63d7c;
    white-space: nowrap;

    .nav-link {
        display: flex;
        align-items: center;
        gap: 25px;
        padding: 20px;
        flex-wrap: nowrap;

        &:hover {
            background-color: black;
            color: white;
        }
    }

    .pinkstore {
        position: relative;
        height: 70px;
        border-bottom: 3px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;

        .icons {
            position: absolute;
            right: -15%;
        }


    }

}



main {
    background-color: pink;

    .orderfood {
        img {
            height: 200px;
        }
        .number1 {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #c63d7c;
            color: white;
        }
        .number2 {
            width: 40px;
        }
        h3 {
            font-size: 1.2rem;
        }
    }

    .topbar {
        position: relative;
        border-bottom: 3px solid black;
        padding-bottom: 16px;
        margin-bottom: 20px;

        .narrow {
            position: absolute;
            display: grid;
            place-items: center;
            background-color: black;
            color: white;
            border-radius: 50%;
            left: -25px;
        }
    }


}


footer {
    .icon {
        position: fixed;
        width: 40px;
        height: 40px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        bottom: 105px;
        right: 5px;
    }

    .icon1 {
        position: fixed;
        width: 40px;
        height: 40px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        bottom: 60px;
        right: 5px;
    }

    .sider-ai {
        position: fixed;
        width: 50px;
        height: 45px;
        border-radius: 90% 0 0 90%;
        bottom: 10px;
        right: 0;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}

@media screen and (min-width: 741px) {
    .side {
        min-height: 100vh;
    }
}

@media screen and (max-width: 740px) {
    .side {
        .pinkstore {
            .icons {
                right: 0px;
            }
        }

    }

    .navbar-nav {
        display: none;
    }
}