* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

:root {
    --color: rgb(0, 167, 0);

}

h1,
h2,
h3,
h4.h5,
h6,
p,
hr {
    margin: 0;
}

section {
    display: none;
}

.all {
    background-color: rgb(255, 255, 222);
}

.side {
    background-color: var(--color);
    white-space: nowrap;
    border-radius: 0 30px 30px 0;

    .nav-link {
        display: flex;
        align-items: center;
        gap: 25px;
        padding: 20px;
        flex-wrap: nowrap;

        &:hover {
            background-color: white;
            color: var(--color);

        }
    }

    .pinkstore {
        position: relative;
        height: 70px;
        border-bottom: 3px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;

        .icons {
            position: absolute;
            right: -15;
        }
    }

}

.order-card1 {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-food {
    img {
        width: 50px;
    }
}

main {

    .order-card {
        position: relative;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        transition: transform 0.2s ease;

        .number {
            position: absolute;
            top: 5px;
            left: 5px;
            border-radius: 50%;
            background-color: var(--color);
            height: 30px;
            width: 30px;
            display: grid;
            place-items: center;
            color: white;
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    .orderfood {
        img {
            display: block;
            margin: auto;
            height: 250px;
            width: auto;
            max-width: 250px;
        }

        .number1 {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--color);
            color: white;
        }

        .number2 {
            width: 40px;
        }

        h3 {
            font-size: 1.2rem;
        }
    }

    .topbar {
        position: relative;
        border-bottom: 3px solid black;
        padding-bottom: 16px;
        margin-bottom: 20px;

        .narrow {
            position: absolute;
            display: grid;
            place-items: center;
            background-color: black;
            color: white;
            border-radius: 50%;
            left: -25px;
        }
    }

    .ordercolor {
        background-color: var(--color);
    }

    .table {
        text-align: center;

        img {
            width: 60px;
            height: auto;
        }
    }

    .image {
        width: 300px;
        height: 300px;
    }
}



/* laptop */
@media screen and (min-width: 1025px) {
    .side {
        min-height: 100vh;

        .pinkstore {
            position: relative;
            height: 70px;
            border-bottom: 3px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;

            .icons {
                position: absolute;
                right: -15px;
                transform: translatex(50%);
            }
        }
    }

}

/* tablet */
@media screen and (min-width: 741px) and (max-width: 1024px) {
    .side {
        min-height: 100vh;

        .pinkstore {
            position: relative;
            height: 70px;
            border-bottom: 3px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;

            .icons {
                position: absolute;
                right: -15px;
                transform: translatex(50%);
            }
        }
    }

}

/* mobile */
@media screen and (max-width: 740px) {
    .side {
        .pinkstore {
            .icons {
                right: 0px;
            }
        }

    }

    .navbar-nav {
        display: none;
    }
}