* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side {
    background-color: #c63d7c;
    white-space: nowrap;
    min-height: 100vh;
    .nav-link {
        display: flex;
        align-items: center;
        gap: 25px;
        padding: 20px;
        flex-wrap: nowrap;

        &:hover {
            background-color: black;
            color: white;
        }
    }

    .pinkstore {
        position: relative;
        height: 70px;
        border-bottom: 3px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;

        .icons {
            position: absolute;
            right: -15%;
        }


    }

}



main {
    background-color: pink;

    .topbar {
        position: relative;
        border-bottom: 3px solid black;
        padding-bottom: 16px;
        margin-bottom: 20px;
        .narrow {
            position: absolute;
            display: grid;
            place-items: center;
            background-color: black;
            color: white;
            border-radius: 50%;
            left: -25px;
        }
    }

    .order-card {
        position: relative;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        transition: transform 0.2s ease;

        .number {
            position: absolute;
            top: 5px;
            left: 5px;
            border-radius: 50%;
            background-color: #c63d7c;
            height: 30px;
            width: 30px;
            display: grid;
            place-items: center;
            color: white;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
    
}


footer {
    .icon {
        position: fixed;
        width: 40px;
        height: 40px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        bottom: 105px;
        right: 5px;
    }

    .icon1 {
        position: fixed;
        width: 40px;
        height: 40px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        bottom: 60px;
        right: 5px;
    }

    .sider-ai {
        position: fixed;
        width: 50px;
        height: 45px;
        border-radius: 90% 0 0 90%;
        bottom: 10px;
        right: 0;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}


@media screen and (min-width: 741px) {
    .side {
        height: 100vh;

        .pinkstore {
            .icons {
                right: -16px;
                transform: translateX(50%);
            }
        }

    }
}

@media screen and (max-width: 740px) {
    .side {
        .pinkstore {
            .icons {
                right: 0px;
            }
        }

    }

    .navbar-nav {
        display: none;
    }
}